faiss-cpu
gradio
loguru
numpy
pandas
pybullet
pycryptodome
pytest
python-multipart
pyyaml
sentence-transformers
watchdog
python-dotenv
t2v_metrics
pyautogui
pyperclip
requests
torch
transformers
pillow
git+https://github.com/openai/CLIP.git